body {
  width: 100%;
  background-image: url(image/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  font-family: Impact, fantasy;
  padding-top: 5%;
  text-align: center;
  color : white;
}

.box {
  padding: 5%;
  margin: 10%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-color: #262626d8;
}

.contain {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.box p {
  font-family: Impact, fantasy;	
  color: white;
  text-align: center;
}

button {
  margin: 10%;
  font-family: Impact, fantasy;
  text-transform: uppercase;
  margin: 15px;
}